@tailwind base;

@tailwind components;

@tailwind utilities;

.min-h-95 {
    min-height: 95px;
}

.ignore-scrollbar-width {
    margin-left: calc(100vw - 100%);
}

.pagination {
    padding-left: 0;
    list-style: none;
}

.pagination > li {
    display: inline-block;
}
